﻿
@model Snailicious.Api.Models.Request.User

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <h4><strong>My profile</strong></h4>
        @if (TempData["UserMessage"] != null)
        {
            <div class="alert alert-dismissable alert-success">
                <p>@TempData["UserMessage"]</p>
            </div>
        }
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Avatar)

        <div class="col-lg-6">
            <div class="form-group">
                <h4>Email</h4>
                <input type="text" value="@Model.Email" name="Email" id="Email" class="form-control underlinetextbox">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group">
                <h4>Full Name</h4>
                <input type="text" value="@Model.FullName" name="FullName" id="FullName" class="form-control underlinetextbox">
                @Html.ValidationMessageFor(model => model.FullName)
            </div>

        </div>
        <div class="col-lg-6">

        </div>
         <div class="col-lg-12">
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(".alert-success").delay(4000).fadeOut(300);
    </script>
}