﻿@using System.Configuration
@model Snailicious.Api.Models.Request.User
@{
    ViewBag.Title = "Edit Profile Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h2 style="padding:30px 0;font-size:28px;"><strong>My Account</strong></h2>

    <div class="row">
        <div class="col-lg-3" style="font-size:16px;">
            <div class="list-group" style="font-size:16px;">
                <a class="list-group-item" href="/account">
                    <span class="glyphicon glyphicon-cog"></span> My account
                </a>
                <a class="list-group-item active" href="/account/editprofilephoto">
                    <span class="glyphicon glyphicon-user"></span> Profile Photo
                </a>
            </div>
        </div>
        <div class="col-lg-9" style="background-color:white">
            <div class="">
                <h4><strong>My profile photo</strong></h4>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form">
                        <div class="col-lg-12">
                            @if (TempData["UserMessage"] != null)
                            {
                                <div class="alert alert-dismissable alert-success">
                                    <p>@TempData["UserMessage"]</p>
                                </div>
                            }
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.UserId)

                            <div class="form-group">
                                @if (String.IsNullOrEmpty(@Model.Avatar))
                                {
                                    <p>You don't have avatar at the moment. Upload now.</p>
                                }
                                else
                                {
                                    <div class="col-md-12">
                                        <img src="@Model.Avatar" />
                                    </div>
                                }


                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <input type="file" name="logo" id="logo" class="file-upload" style="display:none" />
                                    <span class="glyphicon glyphicon-picture btn-upload" style="color:#FF6165;font-size:60px;"></span>
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.Avatar)

                        </div>

                        <div class="col-lg-12">

                            <div class="form-group">
                                <div class="">
                                    <input type="submit" value="Save Photo" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(".alert-success").delay(4000).fadeOut(300);

        $(function () {

            //http://stackoverflow.com/questions/1829774/jquery-simulating-a-click-on-a-input-type-file-doesnt-work-in-firefox
            $('.btn-upload').click(function (event) {
                $(this).parent().find('#logo').click();
            });

            $('.file-upload').change(function () {
                var formData = new FormData();
                var thisElement = $(this);
                var opmlFile = $(this)[0];
                formData.append("opmlFile", opmlFile.files[0]);

                $.ajax({
                    url: '@ConfigurationManager.AppSettings["ApiBaseUrl"]/upload',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        var path = data.path;
                        var files = data.filename;

                        var template = '<div style="width:160px;height:160px;" class="uiScaledImageContainer fbVaultGridImage">';
                        template = template + '<img id="theImg" style="" src="' + files[0] + '" /></div>';

                        thisElement.parent().prepend(template);
                        $('#imageuploaded').val(files[0]);
                        $('#ImageHidden').val(files[0]);
                        $('#Avatar').val(files[0]);

                        $('#ImageImage').attr("src", files[0]);

                        thisElement.parent().find(".btn-upload").hide();
                    }
                });
            });
        });
    </script>
}
