﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2 style="padding:30px 0;font-size:28px;"><strong>My Account</strong></h2>
    <div class="row">
        <div class="col-lg-3" style="font-size:16px;">
            <div class="list-group" style="font-size:16px;">
                <a class="list-group-item active" href="/account">
                    <span class="glyphicon glyphicon-cog"></span> My account
                </a>
                <a class="list-group-item" href="/account/editprofilephoto">
                    <span class="glyphicon glyphicon-user"></span> Profile Photo
                </a>
            </div>

        </div>
        <div class="col-lg-9" style="background-color:white">
            @Html.Action("EditProfile", "Account")
        </div>
    </div>
</div>