﻿@using Snailicious.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="border:1px solid #E4E4E4;border-radius:0px;background-color:white;padding:0 18px;">
            <br />
            <h4 style="text-align:center;">Hello again</h4>
            @*<section id="socialLoginForm" style="text-align:center;">
        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
    </section>
    <br />
    <section style="text-align:center;"><i>or</i></section>
    <br />*@
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div>
                            &nbsp;&nbsp;Email<br />
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlinetextbox" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            &nbsp;&nbsp;Password<br />
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control underlinetextbox" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Log in" class="btn btn-primary btn-block btn-success" />
                        </div>
                    </div>
                    <p style="text-align:center;">
                        Not a member? @Html.ActionLink("Sign up now", "Register")
                    </p>
                }
            </section>
            <br />
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}