﻿@model Snailicious.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="border:1px solid #E4E4E4;border-radius:0px;background-color:white;padding:0 18px;">
            <br />
            <h4 style="text-align:center;">Register a new account</h4>
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div>
                            &nbsp;&nbsp;Email<br />
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlinetextbox" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            &nbsp;&nbsp;Password<br />
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control underlinetextbox" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            &nbsp;&nbsp;Confirm password<br />
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control underlinetextbox" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Register" class="btn btn-primary btn-block btn-success" />
                        </div>
                    </div>
                }
            </section>
            <br />
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
