﻿@model Snailicious.Models.UserProfileViewModel

@{
    ViewBag.Title = @Model.UserProfile.DisplayName + " @ Snailicious";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align:center;">
                <div class="media">
                    <br />
                    <a class="" href="/account/editprofilephoto">
                        @if (!String.IsNullOrEmpty(Model.UserProfile.Avatar))
                        {
                            <img alt="avatar" class="mediaa-object img-circle" src="@Model.UserProfile.Avatar" style="width:120px;">
                        }
                        else
                        {
                            <img alt="avatar" class="mediaa-object img-circle" src="https://cdn3.iconfinder.com/data/icons/flat-icons-small-version/64/id-card-512.png" style="width:120px;">
                        }

                    </a>
                    <div class="media-body">
                        <br />
                        <h2 class="media-heading" style="font-weight:bold;">@Model.UserProfile.DisplayName </h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-12" style="text-align:center;padding-top:10px;">
                <h1>
                    <a href="/user/@Model.UserProfile.Id" class="active"><span class="glyphicon glyphicon-th"></span></a>
                    <a href="/user/@Model.UserProfile.Id/likes"><span class="glyphicon glyphicon-heart"></span></a>
                    
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align:center;">
        <br />
        <h2>Likes</h2>
        <br />
    </div>
</div>
<div class="row">
    @foreach (Snailicious.Api.Models.Response.RecipeResponse recipe in Model.Recipes)
    {
        <div class="col-lg-4">
            <div class="thumbnail" style="overflow: hidden; padding: 0;">
                @if (recipe.UserId == Snailicious.Utilities.AccountHelper.CurrentUserId)
                {
                    <div class="hover-btn">
                        <a href="/recipe/edit/@recipe.Id"><h3 class="glyphicon glyphicon-pencil"></h3></a>
                    </div>

                    @*<div class="hidden-button pull-right" style="display:none"><a href="/collection/edittag/@thing.ThingId"><h3 class="glyphicon glyphicon-pencil"></h3></a></div>*@
                }
                <div style=" overflow:hidden; padding:0;height:220px;width:100%">
                    <a href="/recipe/details/@recipe.Id">
                        <img alt="" style="max-height: 480px; max-width: 100%; display: block;" src="@recipe.ImageUrl">
                        @*@ScaledImage(@thing.Image, 480, 0, "")*@
                    </a>
                </div>
                <div class="" style="color:#999999;padding:0 10px;">
                    <a href="/recipe/details/@recipe.Id">
                        <h5>@recipe.Name</h5>
                        <p>by <a href="/user/?username=@recipe.UserId">@recipe.User.DisplayName</a></p>
                    </a><a href="/recipe/likeadd/@recipe.Id"><span class="glyphicon glyphicon-heart"></span></a>&nbsp;@recipe.Likes.Count
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;10
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
    @*http://stackoverflow.com/questions/20563803/how-to-show-button-on-div-mouse-hover*@
    <script>
        //$(document).on('mouseenter', '.thumbnail', function () {
        //    $(this).find(".hidden-button").show();
        //}).on('mouseleave', '.thumbnail', function () {
        //    $(this).find(".hidden-button").hide();
        //});
    </script>

    @*http://stackoverflow.com/questions/26632713/show-delete-button-on-right-side-of-bootstrap-row-on-hover*@
    <style>
        .hover-btn {
            position: absolute;
            right: 25px;
            display: none;
        }

        .thumbnail:hover .hover-btn {
            display: block;
        }
    </style>
}
