﻿@if (!String.IsNullOrEmpty(Snailicious.Utilities.AccountHelper.CurrentAcessToken))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (!String.IsNullOrEmpty(Snailicious.Utilities.AccountHelper.CurrentAcessToken))
            {
                <li>
                    <div class="pull-left">
                        @if (!String.IsNullOrEmpty(Snailicious.Utilities.AccountHelper.CurrentUserAvatar))
                        {
                            <a href="/user/@Snailicious.Utilities.AccountHelper.CurrentUserId"><img style="height: 66px;" src="@Snailicious.Utilities.AccountHelper.CurrentUserAvatar" alt=""></a>
                        }
                        else
                        {
                            <a href="/user/@Snailicious.Utilities.AccountHelper.CurrentUserId"><img style="height: 66px;" src="https://cdn3.iconfinder.com/data/icons/flat-icons-small-version/64/id-card-512.png" alt=""></a>
                        }

                    </div>
                </li>
            }
            <li>
                @Html.ActionLink("Hello " + @Snailicious.Utilities.AccountHelper.CurrentUsername + "!", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
