﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Snailicious</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align:center;">
                <a href="/"><span class="brandlogo" style="font-size:28px;font-weight:normal;color:#444444;">Snailicious</span></a>
                <br />
            </div>

        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $('.toggle-menu').jPushMenu();
            $('.dropdown-toggle').dropdown();
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/snailicious")
    @RenderSection("scripts", required: false)
</body>
</html>

