﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 1.5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

a {
    color: #3a539b;
    text-decoration: none;
}
a:hover, a:focus {
    color: #3a539b;
    text-decoration: none;
}

a.btnLike { color:#BFBFBF;}
a.btnLike:hover,a.btnLike:focus { color:#95A5A6;}
a.btnLike.added { color: #F22613;}

.field-validation-error{color:#F22613;}

.validation-summary-errors{color:#F22613;}

.brandlogo{ font-family: 'Lobster';font-size: 30px;}

h5{ margin-top: 10px;margin-bottom: 0;}

p{ margin-bottom: 10px;}