﻿@model Snailicious.Models.HomeViewModel

@foreach (Snailicious.Api.Models.Response.RecipeResponse recipe in Model.Recipes)
{
    <div class="col-lg-4">
        <div class="thumbnail" style="overflow: hidden; padding: 0;">
            <div style=" overflow:hidden; padding:0;height:220px;width:100%">
                <a href="/recipe/details/@recipe.Id">
                    <img alt="" style="max-height: 480px; max-width: 100%; display: block;" src="@recipe.ImageUrl">
                </a>
            </div>
            <div class="" style="color:#999999;padding:0 10px;">
                <a href="/recipe/details/@recipe.Id">
                    <h5>@recipe.Name</h5>
                    <p>by <a href="/user/@recipe.UserId">@recipe.User.DisplayName</a></p>
                </a>
                <span class="glyphicon glyphicon-heart"></span>&nbsp;@recipe.TotalLikes
                <span class="glyphicon glyphicon-comment"></span>&nbsp;@recipe.TotalComments
            </div>
        </div>
    </div>
}