﻿@model Snailicious.Api.Models.Response.CommentResponse

<div class="media">
    <a class="pull-left" href="/user/@Model.UserId">
        <img alt="" class="media-object img-circle" src="@Model.UserAvatar" style="width:50px;">
    </a>
    <div class="media-body">
        <h5 class="media-heading"><a>@Model.Username</a></h5>
        <p>@Model.Message</p>
        <small style="color:#999999;">@Model.DateCreated</small>
    </div>
    <br/>
</div>