﻿@model List<Snailicious.Api.Models.Response.CommentResponse>

<div class="row mobile-bg-gray mobile-bg-gray mobile-center" style="padding-bottom:10px;">
    <div class="col-lg-12">
        <h5>
            <span class="glyphicon glyphicon-comment"></span>&nbsp;@Model.Count&nbsp;<i>COMMENTS</i>
            <br/>
        </h5>
    </div>
</div>

<div id="divComment" class="row mobile-bg-gray">
    <div class="col-lg-12">
        @if (Model.Count > 0)
        {
            foreach (Snailicious.Api.Models.Response.CommentResponse comment in Model.OrderByDescending(p => p.Id))
            {
                <div class="media">
                    <a class="pull-left" href="/user/@comment.UserId.">
                        <img alt="" class="media-object img-circle" src="@comment.UserAvatar" style="width:50px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading"><a>@comment.Username</a></h5>
                        <p>@comment.Message</p>
                        <small style="color:#999999;">around 2 hours ago</small>
                    </div>
                    <br />
                </div>
            }
        }
        else
        {
            <p>Be first to leave a comment</p>
            <br />
        }
    </div>
</div>