﻿@using System.Configuration
@model Snailicious.Api.Models.Response.RecipeResponse

@{
    ViewBag.Title = "Create a new recipe";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create a new recipe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-lg-4">
                <input type="file" name="logo" id="logo" class="file-upload" style="display:none" />
                <span class="glyphicon glyphicon-picture btn-upload" style="color:#3a3a3a;font-size:100px;"></span>
            </div>
            <style>
                .uiScaledImageContainer {
                    overflow: hidden;
                    position: relative;
                }

                    .uiScaledImageContainer img {
                        height: 100%;
                        min-height: 100%;
                        position: relative;
                    }
            </style>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your recipe name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <select id="PrepTime" name="PrepTime" class="form-control" placeholder="Prep time">
                    <option disabled selected>Prep time</option>
                    <option>0 - 15 mins</option>
                    <option>15 - 30 mins</option>
                    <option>1/2 - 1 hour</option>
                    <option>1 - 2 hours</option>
                    <option>> 2 hours</option>
                </select>
                @Html.ValidationMessageFor(model => model.PrepTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <select id="TotalServings" name="TotalServings" class="form-control">
                    <option disabled selected>Total Servings</option>
                    <option>1 person</option>
                    <option>2 persons</option>
                    <option>3 persons</option>
                    <option>4 persons</option>
                    <option>5 persons</option>
                    <option>6 persons</option>
                    <option>7 persons</option>
                    <option>8 persons</option>
                    <option>9 persons</option>
                    <option>10 persons</option>
                </select>
                @Html.ValidationMessageFor(model => model.PrepTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <h5>Ingredients</h5>
                <textarea id="textarealist" class="textarealist" name="ingredients" rows="5" style="width:100%"></textarea>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-6">
                <h5>Methods</h5>
                <textarea id="textarealist" class="textarealist" name="steps" rows="5" style="width:100%"></textarea>
            </div>
        </div>

        <div id="image_uploadedarea"></div>

        <input type="hidden" name="userid" value="@Snailicious.Utilities.AccountHelper.CurrentUserId" />
        <input type="hidden" name="imageurl" id="imageuploaded" value="" />

        <div class="form-group">
            <div class="col-md-6">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            //http://stackoverflow.com/questions/1829774/jquery-simulating-a-click-on-a-input-type-file-doesnt-work-in-firefox
            $('.btn-upload').click(function (event) {
                $(this).parent().find('#logo').click();
            });

            $('.file-upload').change(function () {
                var formData = new FormData();
                var thisElement = $(this);
                var opmlFile = $(this)[0];
                formData.append("opmlFile", opmlFile.files[0]);

                $.ajax({
                    url: '@ConfigurationManager.AppSettings["ApiBaseUrl"]upload',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        var path = data.path;
                        var files = data.filename;

                        var template = '<div style="width:160px;height:160px;" class="uiScaledImageContainer fbVaultGridImage">';
                        template = template + '<img id="theImg" style="" src="' + files[0] + '" /></div>';

                        thisElement.parent().prepend(template);
                        $('#imageuploaded').val(files[0]);

                        thisElement.parent().find(".btn-upload").hide();
                    }
                });
            });
        });
    </script>
}
