﻿@using System.Configuration
@using Snailicious.Utilities
@model Snailicious.Models.RecipeViewModel

@{
    ViewBag.Title = @Model.Recipe.Name;
}

@helper ScaledImage(string src, int width, int height, string cssClass)
{
    if (src != null)
    {
        src = src.Replace("https://s3-ap-southeast-2.amazonaws.com/", ConfigurationManager.AppSettings["ImgBaseUrl"]);
        if (width > 0) { src = src + "?width=" + width; }
        if (height > 0) { src = src + "&height=" + height; }

        <img src="@src" class="@cssClass" />
    }
}

<input type="hidden" id="RecipeId" value="@Model.Recipe.Id" />
<input type="hidden" id="UserId" value="@AccountHelper.CurrentUserId" />
<input type="hidden" id="TheBrowserWidth" name="TheBrowserWidth" value="" />
<input type="hidden" id="TheBrowserHeight" value="" />

<div class="row  hidden-sm hidden-xs" style="padding:30px 0;">
    <div class="col-lg-12 text-center">
        <h2 style="font-size:32px;" class="hidden-sm hidden-xs"><strong>@Model.Recipe.Name</strong></h2>
        <h2 style="font-size:24px;" class="hidden-md hidden-lg"><strong>@Model.Recipe.Name</strong></h2>
        <h5>by <a href="/user/@Model.Recipe.UserId">@Model.Recipe.User.DisplayName</a></h5>
        <h2 style="margin-top:5px;color:#222;">
            @if (Model.IsLiked)
            {
                <a href="" class="btnLike glyphicon glyphicon-heart added"></a><span id="LikeNumber">@*@Model.likeCollection.Count()*@</span>

            }
            else
            {
                <a href="" class="btnLike glyphicon glyphicon-heart "></a> <span id="LikeNumber">@*@Model.likeCollection.Count()*@</span>

            }
            </h2>
        @*@Html.Action("LoadLikeButton", "Collection", new { ThingId = @Model.Recipe.Id })*@
        <h2></h2>
    </div>
</div>

<div class="row hidden-sm hidden-xs">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2">
                &nbsp;
            </div>
            <div class="col-lg-8 text-center">
                @{
                    var screenwidth = 500;
                }
                @*@ScaledImage(@Model.Recipe.ImageUrl, screenwidth, 0, "img-responsive")*@
                <img src="@Model.Recipe.ImageUrl" width="@screenwidth" class=""/>
            </div>
            <div class="col-lg-2">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="row hidden-lg hidden-md" style="padding-top:0;padding-bottom: 0">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 mobile-center" style="padding:0;">
        @*@ScaledImage(@Model.Recipe.ImageUrl, screenwidth, 0, "img-responsive")*@
        <img src="@Model.Recipe.ImageUrl" class="img-responsive"/>
        
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row  hidden-lg" style="padding:10px 0;">
    <div class="col-lg-12 text-center">
        <h2 style="font-size:24px;" class="hidden-md hidden-lg"><strong>@Model.Recipe.Name</strong></h2>
        <h5>by <a href="/user/@Model.Recipe.UserId">@Model.Recipe.User.DisplayName</a></h5>
        <h2 style="margin-top:5px;color:#222;">
            @if (Model.IsLiked)
            {
                <a href="" class="btnLike glyphicon glyphicon-heart added"></a><span id="LikeNumber">@*@Model.likeCollection.Count()*@</span>
            }
            else
            {
                <a href="" class="btnLike glyphicon glyphicon-heart "></a> <span id="LikeNumber">@*@Model.likeCollection.Count()*@</span>
            }
        </h2>
        <h2></h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row" style="padding:10px 0;">
            <div class="col-lg-3 col-md-3 col-xs-3 text-center">
                <span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size:30px;"></span>
                <br />
                @Model.Recipe.PrepTime
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 text-center">
                <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:30px;"></span>
                <br />
                @Model.Recipe.TotalServings
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 text-center">
                <span class="glyphicon glyphicon-comment" aria-hidden="true" style="font-size:30px;"></span>
                <br />
                @Model.Recipe.TotalComments comments
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 text-center">
                <span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size:30px;"></span>
                <br />
                @Model.Recipe.TotalLikes likes
            </div>
        </div>
        @if (!String.IsNullOrEmpty(@Model.Recipe.Ingredients))
        {
            <h4>Ingredients</h4>
            <span>@Model.Recipe.Ingredients</span>
        }
        <br/>
        @if (!String.IsNullOrEmpty(@Model.Recipe.Steps))
        {
            <h4>Methods</h4>
            <span>@Model.Recipe.Steps</span>
        }
        
        <hr/>
        @Html.Action("LoadComments", "Recipe", new { RecipeId = @Model.Recipe.Id })
        <div class="row">
            <div class="col-lg-12">
                <div class="media media-addCommentForm">
                    <a class="pull-left" href="/user/@AccountHelper.CurrentUserId">
                        <img alt="" class="media-object img-circle" src="@AccountHelper.CurrentUserAvatar" style="width:50px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading"><a>@AccountHelper.CurrentUsername</a></h5>
                        <form class="form-horizontal" id="addCommentForm">
                            <textarea name="message" id="message" rows="2" class="form-control"></textarea>
                            <br />
                            <input type="hidden" id="RecipeId" name="recipeid" value="@Model.Recipe.Id" />
                            <input type="hidden" id="userid" name="userid" value="@AccountHelper.CurrentUserId" />
                            <button class="btn-sm btn-primary btn" id="btnAddComment">Add Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>


</div>


@section scripts{
    <script>
        $(function () {
            $('.btnLike').click(function (e) {
                var url = "@ConfigurationManager.AppSettings["ApiBaseUrl"]likes";
                var data = { RecipeId: $("#RecipeId").val(), UserId: $("#UserId").val() };

                var thisdiv = $(this);
                var likenumber = $(this).parent().find("#LikeNumber");
                var number = parseInt($(this).parent().find("#LikeNumber").html(), 10);

                if (thisdiv.hasClass('added')) {
                    $.ajax({
                        url: url + '/?recipeid=' + $("#RecipeId").val() + '&userid=' + $("#UserId").val(),
                        type: 'DELETE',
                        success: function (result) {
                            number = number - 1;
                            likenumber.html(number);
                            thisdiv.removeClass('added');
                        }
                    });

                }
                else {
                    $.post(url, data).success(function (data) {
                        number = number + 1;
                        likenumber.html(number);
                        thisdiv.addClass('added');
                    });
                }
                e.preventDefault();
            });


            $("#btnAddComment").click(function (e) {
                var data = $("#addCommentForm").serialize();

                $.ajax({
                    type: "POST",
                    url: "@ConfigurationManager.AppSettings["ApiBaseUrl"]comments",
                    data: data,
                    success: function (data) {
                        renderPartialAddedComment(data);

                    }
                });

                e.preventDefault();
            });

        });

        function renderPartialAddedComment(data) {
            $.get(
                "/Recipe/Comment",
                data,
                function (data) {
                    $(data).prependTo('#divComment').hide().fadeIn('slow');
                    resetForm();
                });
        }

        function resetForm() {
            $('#message').text('');
        }

    </script>
}
